@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  background-color: #08415C;
}
.App {
  text-align: center;
  font-family: "Raleway", monospace;
  background-color: #CC2936;
  width: 60vw;
  margin:auto;
  margin-top: 20vh;
  padding: 2em;
}
#drum-machine {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#drum-pad-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 0.5em;
  background-color: red;
}
#settings {
  background-color: blue;
}

.drum-pad {
  width: 4em;
  height: 4em;
  background-color: #E67F0D;
  border-radius: 0.5em;
}
