@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  background-color: #08415C;
}
.App {
  text-align: center;
  font-family: "Raleway", monospace;
  background-color: #CC2936;
  width: 60vw;
  margin:auto;
  margin-top: 20vh;
  padding: 2em;
}
#drum-machine {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#drum-pad-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 0.5em;
  border: 5px solid #E67F0D;
  border-radius: 5px;
}

.drum-pad {
  padding:2em;
  background-color: #E67F0D;
  border-radius: 0.5em;
}

button {
  border: 2px solid #011f2d;
  background-color: #034b6d;
  color: white;
  margin: 1em;
  padding:1em;
}
